* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  background : #f2f8fd;
  font-family: Roboto, sans-serif;
}

main {
  display        : flex;
  justify-content: center;
  padding-bottom : 150px;
}

.visually-hidden {
  clip       : rect(0 0 0 0);
  clip-path  : inset(50%);
  height     : 1px;
  overflow   : hidden;
  position   : absolute;
  white-space: nowrap;
  width      : 1px;
}